<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="public/css/styles.css">
</head>

<body>
    <header>
        <h1>
            <img src="public/images/yr-logo.png" alt="Yr" /><span>-mini</span>
        </h1>
        <form>
            <input type="text" placeholder="Søk" />
            <button type="submit">Søk</button>
        </form>
    </header>
    <section>
        <header>
            <h2>Oslo, Norge</h2>
        </header>
        <article>
            <img height=100 width=100 src="public/images/<%= next_1_hours.summary.symbol_code %>.svg"
                 alt="Været nå: <%= next_1_hours.summary.symbol_code %>">
            <p aria-label="Temperaturen nå">
                <%= instant.details.air_temperature %>°C
            </p>
        </article>
        <section>
            <header>
                <h3>Neste timen</h3>
            </header>
            <div>
                <article>
                    <h2>Sannsynlighet for ⚡️:</h2>
                    <p class="data-value">
                        <%= next_1_hours.details.probability_of_thunder %>%
                    </p>
                </article>
                <article>
                    <h2>Sannsynlighet for 🌧:</h2>
                    <p class="data-value">
                        <%= next_1_hours.details.probability_of_precipitation %>%
                    </p>
                </article>
            </div>
        </section>
    </section>
</body>

</html>